:root {
  --bg: #FBFBFB;
  --accent: #1D1D1D;
  --text-b: #1D1D1D;
  --text-w: #FBFBFB;
  --shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

body {
  text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
  background-color: var(--bg);
  font-family: "Montserrat", sans-serif;
  margin: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative; 
}

img {
  font-family: "Montserrat", sans-serif;
}

h1 {
  margin-top: 50px;
  font-weight: 600;
  font-size: 100px;
  margin-left: 20px;
  color: var(--accent);
}

.content-box {
  border-radius: 6px;
  margin-left: -2px;
  border: solid 2px var(--accent);
  padding: 20px 20px;
  width: 900px;
  height: 250px;
  position: relative;
}

p {
  font-size: 25px;
  color: var(--text-b);
}

.circles-container {
  display: flex;
}

.circle {
  margin-right: -20px;
  margin-left: 40px;
  margin-top: 20px; 
  background-color: #1D1D1D;
  width: 70px;
  height: 70px;
  border-radius: 100%;
}

.a1 {
  background-color: #FA2D4B;
}

.a2 {
  background-color: #E7BA4A;
}

.a3 {
  background-color: #D1C459;
}

.bt {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(45%); 
  width: 3250px; 
  height: 3250px; 
  margin-left: 750px;
  z-index: -1; 
}

.bt {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(45%); 
  width: 3250px; 
  height: 3250px; 
  margin-left: 750px;
  z-index: -1; 
}

.icons {
  width: 50px;
  height: 50px;
  align-items: center;
  margin-top: 10px;
  margin-left: 10px;
}


.lg-r  {
  margin-left: 145vh;
  margin-top: -150vh;
}