<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
      <link rel="stylesheet" th:href="@{/css/style-i.css}">
      <title>HOME | Oxygen</title>
</head>
<body>
    <div  class="content">
        <div class="content-title">
            <h1 th:utext="${title}">title</h1>
        </div>
        <div class="content-box">
            <p th:utext="${boxtext}">text</p>
            <img class="bt" th:src="@{/assets/images/group6.svg}" alt="">
        </div>

    </div>

    <div class="circles-container">
        <div class="circle a1"><span><img class="icons" th:src="@{/assets/icons/icons8-instagram.svg}" alt=""></span>

        </div>
        <div class="circle a2"><span><img style="margin-left: 12px;" class="icons" th:src="@{/assets/icons/icons8-twitter.svg}" alt=""></span>

        </div>
        <div class="circle a3"><span><img class="icons" th:src="@{/assets/icons/icons8-youtube.svg}" alt=""></span>

        </div>
        
        <img  class="lg-r" th:src="@{/assets/images/LG-R.svg}" alt="">
    </div>

</body>
</html>
